<%= form_for(@question_placeholder) do |f| %>
  <% if @question_placeholder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question_placeholder.errors.count, "error") %> prohibited this question_placeholder from being saved:</h2>

      <ul>
      <% @question_placeholder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :key %><br>
    <%= f.text_field :key %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :question_template_id %><br>
    <%= f.text_field :question_template_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
