<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @question_placeholder.key %>
</p>

<p>
  <strong>Value:</strong>
  <%= @question_placeholder.value %>
</p>

<p>
  <strong>Question:</strong>
  <%= @question_placeholder.question_template_id %>
</p>

<%= link_to 'Edit', edit_question_placeholder_path(@question_placeholder) %> |
<%= link_to 'Back', question_placeholders_path %>
