<%= form_for(question_template, url: url) do |f| %>
  <% if @question_template.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(@question_template.errors.count, 'error') %> prohibited this question_template from being saved:</h2>

      <ul>
      <% @question_template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field template'>
    <%= f.label :question %><br>
    <%= f.text_area :question, rows: 5 %>
  </div>

  <div class='field template'>
    <%= f.label :query %><br>
    <%= f.text_area :query, rows: 5 %>
  </div>

  <div class='actions'>
    <%= f.submit 'Save', class: 'button small success' %>
  </div>
<% end %>
