<% content_for :page_title do %>
    Listing Question Templates
<% end %>


<% if flash[:notice] %>
    <div data-alert class="alert-box success radius">
      <%= notice %>
      <a href="#" class="close">&times;</a>
    </div>
<% end %>

<table class="index">
  <thead>
  <tr>
    <th>Question</th>
    <th>Query</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @question_templates.each do |question_template| %>
      <tr>
        <td><%= link_to question_template.question, admin_question_template_path(question_template) %></td>
        <td><%= question_template.query.query_hash %></td>
        <td><%= button_to 'Remove', admin_question_template_path(question_template), :method => :delete,
                        data: { confirm: 'Are you sure?' }, class: 'button alert tiny delete expand' %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question template', new_admin_question_template_path, class: 'button success tiny' %>
