<h1>Listing Question Templates</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @question_templates.each do |question_template| %>
      <tr>
        <td><%= question_template.sparql %></td>
        <td><%= question_template.question%></td>
        <td><%= link_to 'Show', admin_question_template_path(question_template) %></td>
        <td><%= link_to 'Edit', edit_admin_question_template_path(question_template) %></td>
        <td><%= link_to 'Destroy', admin_question_template_path(question_template), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question template', new_admin_question_template_path %>
