<% content_for :after_javascript do %>
    <%= javascript_include_tag "question_templates_editor" %>
<% end %>

<%= simple_form_for(question_template, url: url, :html=> { class: 'question_template_form' }) do |f| %>
    <%= f.simple_fields_for :query, question_template.query do |query_fields| %>
        <!-- Question errors -->
        <% if @question_template.errors.any? %>
            <div class="large-12 columns" id='error_explanation'>
              <h2><%= pluralize(@question_template.errors.count, 'error') %> prohibited this question_template from being saved:</h2>
              <ul>
                <% @question_template.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <fieldset>
          <legend>Question</legend>
            <!-- Question Textbox -->
            <div class="large-12 columns">
              <div class='field template' id="question">
                <%= f.input(:question,
                            as: :text,
                            input_html: {
                                    rows: 5
                            },
                            autofocus: true,
                            label: false
                ) %>
              </div>
            </div>
        </fieldset>

    <div class="row">
      <div class="large-6 columns">
        <fieldset>
          <legend>Query Builder</legend>
          <!-- MQL Editor -->
          <div id="jsoneditor">
          </div>
          <%= query_fields.input( :query_hash,
                                  as: :hidden,
                                  input_html: {
                                          rows: 6,
                                          id: 'query_hash',
                                          value: @question_template.query.query_hash
                                  },
                                  label: false
              )%>
        </fieldset>
      </div>

      <!-- Question Parameter -->
      <div class="large-6 columns">
        <fieldset>
          <legend>Question Parameters</legend>
          <div class="row collapse">
            <%= label :location_property, 'Location' %>
            <div class="small-2 columns">
              <span class="prefix">$..*.</span>
            </div>
            <div class="small-10 columns">
              <%= query_fields.input  :location_property,
                                      as: :string,
                                      input_html: {
                                              id: 'location_property'
                                      },
                                      label: false
               %>
            </div>
          </div>

          <div class="row collapse">

            <%= label :answer_property, 'Answer' %>
            <div class="small-2 columns">
              <span class="prefix">$..*.</span>
            </div>
            <div class="small-10 columns">
              <%= query_fields.input :answer_property,
                                     as: :string,
                                     input_html: {
                                             id: 'answer_property'
                                     },
                                     label: false
              %>
            </div>
          </div>




        </fieldset>

        <!-- Test Query -->
        <fieldset>
          <legend>Test it!</legend>
          <%= label 'place', 'id', 'Place to test for' %>
          <%= select('place', 'id',  @places.collect {|a| [a.city, a.id]}) %>

          <%= label 'test', 'output', 'Result' %>
          <textarea id="test-output" contenteditable="false"></textarea>
          <button id="test-query" class="button small">
            Test Question Template
          </button>
        </fieldset>
      </div>
    </div>

    <div class="row">
      <div class="columns large-12">
        <%= f.submit 'Save Template', class: 'button small success' %>
      </div>
    </div>
  <% end %>
<% end %>


<ol id="joyRideTipContent" class="joyride-list" data-joyride>
  <li data-id="question" data-text="Next" data-options="tip_location: top">
    <p>Type your question into this field. Mark placeholders with <code>?</code></p>
  </li>
  <li data-id="query_hash" data-class="custom so-awesome" data-text="Next">
    <h4>Stop #1</h4>
    <p>You can control all the details for you tour stop. Any valid HTML will work inside of Joyride.</p>
  </li>
  <li data-id="location_property" data-button="Next" data-options="tip_location:top;tip_animation:fade">
    <h4>Location property</h4>
    <p>Select a property from the query field that will be used as location property.<br>You can just click the input
      and then select some text in the query field.</p>
  </li>
  <li data-id="answer_property" data-button="Fine, let's go!">
    <h4>Answer property</h4>
    <p>Define the property used for answers here. Works just like location.</p>
  </li>
</ol>