<%= content_for :page_title do %>
    Question Template #<%= @question_template.id %>
<% end %>

<p id="notice"><%= notice %></p>

<%= link_to 'Edit', question_template_path(@question_template) %> |
<%= link_to 'Back', question_templates_path %>
